<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I am starving!</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <main>
        <div class="form-row form-styling">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="recipe-title">Add a recipe <small class="text-muted">Complete this form to add a
                                recipe to the site.</small></h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/createRecipe" method="POST" enctype="multipart/form-data">
                            <div class="form-group form-group-required col-lg-4">
                                <label for="username" class="control-label">Username</label>
                                <input type="text" class="form-control form-control-lg" id="username" name="username"
                                    placeholder="Enter your username" required>
                            </div>
                            <div class="form-group form-group-required col-lg-8">
                                <label for="recipeTitle" class="control-label">Recipe title</label>
                                <small id="titleHelpBlock" class="form-text text-info">
                                    Include the name of the dish and/or it's main ingredient. Keep this short
                                </small>
                                <input type="text" class="form-control form-control-lg" id="recipeTitle"
                                    name="recipeTitle" placeholder="Recipe title" required>

                            </div>

                            <div class="form-group col-lg-8">
                                <small id="imageHelpBlock" class="form-text text-info">
                                    Remember you eat with your eyes first; so add a good 300x250px jpg or png
                                </small>
                                <input type="file" name="recipeImage" id="recipeImage">
                                <label class="" for="recipeImage">Choose an image of the recipe</label>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="recipeIngredients" class="control-label">Ingredients</label>
                                <small id="imageHelpBlock" class="form-text text-info">
                                    Write each ingredient on one line. Once written, highlight text and click on the
                                    bullet point icon (unordered list).
                                </small>
                                <textarea class="form-control richTextEditor" id="recipeIngredients"
                                    name="recipeIngredients" rows="5" required></textarea>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="recipeMethod" class="control-label">Method</label>
                                <small id="imageHelpBlock" class="form-text text-info">
                                        Write each step of the recipe method on one line. Once written, highlight text and
                                        click on the numbered list icon (ordered list).
                                    </small>
                                <textarea class="form-control richTextEditor" id="recipeMethod" name="recipeMethod"
                                    rows="5" required></textarea>
                                
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="prepTime" class="control-label">Prep time (in minutes)</label>
                                <input type="number" class="form-control" id="prepTime" name="prepTime"
                                    placeholder="Time in minutes" required>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="cookTime" class="control-label">Cook time (in minutes)</label>
                                <input type="number" class="form-control" id="cookTime" name="cookTime"
                                    placeholder="Time in minutes" required>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="recipeDifficulty" class="control-label">Difficulty level</label>
                                <select id="recipeDifficulty" name="recipeDifficulty" class="form-control" required>
                                    <option selected>Choose...</option>
                                    <option>Beginner</option>
                                    <option>Intermediate</option>
                                    <option>Advanced</option>
                                </select>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="recipeServes" class="control-label">How many people does this recipe
                                    serve?</label>
                                <input type="number" class="form-control" id="recipeServes" name="recipeServes"
                                    placeholder="Number of servings" required>
                            </div>

                            <div class="form-group col-lg-11">
                                <label for="dietType">Diet type</label><br />
                                <small id="dietTypeHelpBlock" class="form-text text-info">
                                        Select all that apply
                                    </small>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Dairy-free">Dairy-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Egg-free">Egg-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Gluten-free">Gluten-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Healthy">Healthy
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType"
                                        value="Heart-healthy">Heart-healthy
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Low-calorie">Low-calorie
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Low-fat">Low-fat
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Low-salt">Low-salt
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Nut-free">Nut-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Vegan">Vegan
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="dietType" id="dietType" value="Vegetarian">Vegetarian
                                </label>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="cuisineType" class="control-label">Cuisine type</label>
                                <select id="cuisineType" name="cuisineType" class="form-control" required>
                                    <option>African</option>
                                    <option>American</option>
                                    <option>Asian</option>
                                    <option>British</option>
                                    <option>Italian</option>
                                    <option>Japanese</option>
                                    <option>Mediterranean</option>
                                    <option>Mexican</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-11">
                                <label for="recipeNotes">Notes</label>
                                <textarea class="form-control richTextEditor" id="recipeNotes" name="recipeNotes"
                                    rows="3"
                                    placeholder="E.g for a thicker sauce, substitute milk for cream"></textarea>
                            </div>

                            <div class="form-group col-lg-4">
                                <button class="btn btn-success" type="submit">Submit recipe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% endblock %}
</body>

</html>