<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I am starving!</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <main role="main">

        <div class="form-row form-styling">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="recipe-title">Add a recipe <small class="text-muted">Complete this form to add a recipe to the site.</small></h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group form-group-required col-lg-8">
                                <label for="cookTime" class="control-label">Recipe title</label>
                                <input type="text" class="form-control form-control-lg" id="recipeTitle"
                                    placeholder="Recipe title" required>
                                <small id="titleHelpBlock" class="form-text text-info">
                                    Include the name of the dish and/or it's main ingredient. Keep this short
                                </small>
                            </div>

                            <div class="form-group col-lg-8">
                                <input type="file" class="" id="customFile">
                                <label class="" for="customFile">Choose an image of the recipe</label>
                                <small id="imageHelpBlock" class="form-text text-info">
                                    Remember you eat with your eyes first; so add a good 600x600px jpg or png
                                </small>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="ingredients" class="control-label">Ingredients</label>
                                <textarea class="form-control" id="ingredients" rows="5" required></textarea>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="method" class="control-label">Method</label>
                                <textarea class="form-control" id="method" rows="5" required></textarea>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="prepTime" class="control-label">Prep time</label>
                                <input type="text" class="form-control" id="prepTime" placeholder="Time in minutes"
                                    required>
                            </div>

                            <div class="form-group form-group-required col-lg-11">
                                <label for="cookTime" class="control-label">Cook time</label>
                                <input type="text" class="form-control" id="cookTime" placeholder="Time in minutes"
                                    required>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="recipeDifficulty" class="control-label">Difficulty level</label>
                                <select id="recipeDifficulty" class="form-control" required>
                                    <option selected>Choose...</option>
                                    <option>Easy</option>
                                    <option>More effort</option>
                                    <option>A challenge</option>
                                </select>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="recipeServes" class="control-label">How many people does this recipe
                                    serve?</label>
                                <input type="text" class="form-control" id="recipeServes"
                                    placeholder="Number of servings" required>
                            </div>

                            <div class="form-group col-lg-11">
                                <label for="dietType">Diet type</label><br />
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Dairy-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Egg-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Gluten-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Healthy
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Heart-healthy
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Low-calorie
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Low-fat
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Low-salt
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Nut-free
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Vegan
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="">Vegetarian
                                </label>
                                <small id="dietTypeHelpBlock" class="form-text text-info">
                                    Select all that apply
                                </small>
                            </div>

                            <div class="form-group form-group-required col-lg-3">
                                <label for="cuisineType" class="control-label">Cuisine type</label>
                                <select id="cuisineType" class="form-control" required>
                                    <option selected>Choose...</option>
                                    <option>African</option>
                                    <option>American</option>
                                    <option>Asian</option>
                                    <option>Austrian</option>
                                    <option>Balinese</option>
                                    <option>Belgian</option>
                                    <option>Brazilian</option>
                                    <option>British</option>
                                    <option>Cajun & Creole</option>
                                    <option>Caribbean</option>
                                    <option>Chilean</option>
                                    <option>Chinese</option>
                                    <option>Cuban</option>
                                    <option>Danish</option>
                                    <option>Dutch</option>
                                    <option>Eastern European</option>
                                    <option>English</option>
                                    <option>French</option>
                                    <option>German</option>
                                    <option>Greek</option>
                                    <option>Hawaiian</option>
                                    <option>Hungarian</option>
                                    <option>Indian</option>
                                    <option>Indonesian</option>
                                    <option>Irish</option>
                                    <option>Italian</option>
                                    <option>Japanese</option>
                                    <option>Jewish</option>
                                    <option>Korean</option>
                                    <option>Latin American</option>
                                    <option>Mediterranean</option>
                                    <option>Mexican</option>
                                    <option>Middle Eastern</option>
                                    <option>Moroccan</option>
                                    <option>North African</option>
                                    <option>Portugese</option>
                                    <option>Scandinavian</option>
                                    <option>Scottish</option>
                                    <option>Southern & Soul</option>
                                    <option>Southwestern</option>
                                    <option>Spanish</option>
                                    <option>Swedish</option>
                                    <option>Swiss</option>
                                    <option>Thai</option>
                                    <option>Tunisian</option>
                                    <option>Turkish</option>
                                    <option>Vietnamese</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-11">
                                <label for="recipeNotes">Notes</label>
                                <textarea class="form-control" id="recipeNotes" rows="3"
                                    placeholder="E.g for a thicker sauce, substitute milk for cream"></textarea>
                            </div>

                            <div class="form-group col-lg-4">
                                <button class="btn btn-success" type="submit">Submit recipe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% endblock %}
</body>

</html>