<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Book of Cooks</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="jumbotron-heading">I Am Starving!</h1>
            <p>What is it you fancy for dinner tonight? We have a huge variety of recipes for you to try out.
              Whether
              you have had a long day and just need to eat quickly or whether you are trying to impress
              guests... we
              have something for you.</p>
          </div>
        </div>
      </div>
    </section>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-styling">
              <img src="\static\images\allRecipes.jpg" class="card-img-top" alt="Plate of food">
              <div class="card-body">
                <h5 class="card-title">All recipes</h5>
                <a href="#" class="btn btn-info btn-block">See recipes</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    </div>

  </main>

  {% endblock %}
</body>

</html>