<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I am starving!</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <main role="main">
        <div class="container">
                {% if searchResults[0] %}  
                <h3>Recipe search results</h3>  
                <table>  
                    <tr id="row">  
                        <td class="name">Recipe title</td>  
                    </tr>  
                    {% for recipe in searchResults %}  
                    <tr class="datas">  
                        <td class="name">{{ recipe["recipeTitle"] }}</td>  
                    {% endfor %}  
                {% else %}  
                    <h5>No recipe found</h5>  
                {% endif %}  
                </table>  
                <a href="/">Return to homepage</a>  
                
        </div>
    </main>
    {% endblock %}
</body>

</html>