<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I am starving!</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <main role="main">
        <div class="container">
            {% for item in recipe %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="recipe-title">{{ item["recipeTitle"] }}</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12"><img src="{{url_for('file', filename=item['recipeImage'])}}"
                                class="rounded" alt="Recipe photo"></div>
                        <div class="col-lg-5 col-md-8 col-xs-12">
                            <ul class="recipe-facts">
                                <li>Prep time: {{ item["prepTime"] }}</li>
                                <li>Cook time: {{ item["cookTime"] }}</li>
                                <li>Difficulty: {{ item["recipeDifficulty"] }}</li>
                                <li>Serves: {{ item["recipeServes"] }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <ul class="recipe-facts">
                                <li>{{ item["dietType"] }}</li>
                                <li>{{ item["cuisineType"] }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"> <a href="#" class="btn btn-primary" role="button">Like this recipe</a></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <h4 class="recipe-subtitles">Ingredients</h4>
                        {{ item["recipeIngredients"]|safe }}
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h4 class="recipe-subtitles">Method</h4>
                    {{ item["recipeMethod"]|safe }}
                  
                </div>

                <div class="col-lg-12">
                    <h4 class="recipe-subtitles">Notes</h4>
                    <h5>{{ item["recipeNotes"]|safe }}</h5>
                </div>
                <div>
                    <a href="./remove?_id={{ item['_id'] }}"><button type="submit">Delete recipe</button></a>
                    <a href="./edit?_id={{ item['_id'] }}"><button type="submit">Edit recipe</button></a>
                    {%endfor%}
                </div>
            </div>
        </div>



    </main>

    {% endblock %}
</body>

</html>