.main{
    width: 50%;
    margin: 50px auto;
}

@media only screen and (max-width: 992px) {
    .main {
      width:100%;
    }
  }

.jumbotronStyling{
color:#343a40;

}

/**---------------- Search ---------------**/

.has-search .searchBarStyling {
    position: absolute;
    z-index: 2;
    display: block;
    width: 80%;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.searchButtonStyling{
    margin:5px;
    width: 80%;
}

/**---------------- Recipe cards ---------------**/
.cardStyling {
    margin:10px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**---------------- Forms ---------------**/

.form-group-required .control-label:after {
    content:"*";
    color: #ff0000;
}

.formHeadings{
    font-weight:bold;
}

.checkboxStyling{
    margin:2px;
}

/**---------------- Results ---------------**/


.noResultsStyling{
    color: #ff7c1c;
    margin: 100px;
    padding: 10px;
    text-align: center;
}

.recipeNumberStyling{
    color: #bada55;
    font-weight: bold;
    margin:25px;
}

.recipeTitle {
    color:#bada55;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left:20px;
}

.recipeImageStyling{
    width:100%;
    height: 30vh;
    object-fit: cover;
}

.recipeFacts {
    margin: 12px;
    line-height: 35px;
    font-size: 20px;
}

.recipeSubtitles {
    color:#bada55;
    margin-top: 20px;
}

.buttonStyling{
    margin:15px;
    width:180px;
}

.iconStyling{
    margin:8px;
}

/**---------------- Footer ---------------**/

.footerStyling {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
}
