.main{
    width: 50%;
    margin: 50px auto;
}

.has-search .searchBarStyling {
    position: absolute;
    z-index: 2;
    display: block;
    width: 80%;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.card-styling {
    margin:10px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-group-required .control-label:after {
    content:"*";
    color: #ff0000;
}

.formHeadings{
    font-weight:bold;
}

.checkboxStyling{
    margin:2px;
}

.recipe-title {
    color:#bada55;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left:20px;
}

.recipeImageStyling{
    width:100%;
    height: 30vh;
    object-fit: cover;
}

.recipe-facts {
    margin: 12px;
    line-height: 35px;
    font-size: 20px;
}

.recipe-subtitles {
    color:#bada55;
    margin-top: 20px;
}

.buttonStyling{
    margin:15px;
    width:180px;
}

.iconStyling{
    margin:8px;
}

.footer-styling {
    position: relative;
    bottom: 0px;
    width: 100%;
    height:8%;
}
