<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>I am starving!</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="jumbotronStyling">I am starving!</h1>

          </div>
        </div>
        <form action="/search" method="GET" class="main">
          <div class="col-lg-12 mx-auto form-group has-search">
            <span class="searchBarStyling"></span>
            <label for="recipeSearch" class="control-label"></label>
            <input type="text" id="recipeSearch" name="recipeSearch" class="form-control"
              placeholder="Ingredient, dish, keyword..." />
          </div>
          <div><button type="submit" class="btn btn-info searchButtonStyling">Search</button></div>
        </form>
      </div>
      </div>
    </section>

    <form id="filterDropdown" method="GET">
      <div class="row">
      <div class="form-group col-lg-3 offset-lg-9">
          <label for="recipeFiltering" class="control-label formHeadings">Filter by diet type</label>
          <select onchange="document.getElementById('filterDropdown').submit();" id="recipeFiltering" name="filter_by" class="form-control">
              <option value="">Choose...</option>
              <option value="Dairy-free" {% if request.values.get('filter_by') == 'Dairy-free' %} selected {% endif %}>Dairy-free</option>
              <option value="Egg-free" {% if request.values.get('filter_by') == 'Egg-free' %} selected {% endif %}>Egg-free</option>
              <option value="Gluten-free" {% if request.values.get('filter_by') == 'Gluten-free' %} selected {% endif %}>Gluten-free</option>
              <option value="Healthy" {% if request.values.get('filter_by') == 'Healthy' %} selected {% endif %}>Healthy</option>
              <option value="Heart-healthy" {% if request.values.get('filter_by') == 'Heart-healthy' %} selected {% endif %}>Heart-healthy</option>
              <option value="Low-calorie" {% if request.values.get('filter_by') == 'Low-calorie' %} selected {% endif %}>Low-calorie</option>
              <option value="Low-fat" {% if request.values.get('filter_by') == 'Low-fat' %} selected {% endif %}>Low-fat</option>
              <option value="Low-salt" {% if request.values.get('filter_by') == 'Low-salt' %} selected {% endif %}>Low-salt</option>
              <option value="Nut-free" {% if request.values.get('filter_by') == 'Nut-free' %} selected {% endif %}>Nut-free</option>
              <option value="Vegan" {% if request.values.get('filter_by') == 'Vegan' %} selected {% endif %}>Vegan</option>
              <option value="Vegetarian" {% if request.values.get('filter_by') == 'Vegetarian' %} selected {% endif %}>Vegetarian</option>
            </select>
      </div>
      </div>
      </form>

        


        <div class="row">
          {% for recipe in pageRecipes %}
          <div class="col-sm-6 col-lg-4">
            <div class="card cardStyling">
              <div class="card-body">
                <img class="recipeImageStyling" src="{{url_for('file', filename=recipe['recipeImage'])}}" alt="{{recipe['recipeTitle']}}">
                <h5 class="card-title text-truncate">{{ recipe["recipeTitle"] }}</h5>
                <h6 class="text-muted">Serves: {{ recipe["recipeServes"] }}</h6>
                <h6 class="text-muted">Recipe likes: {{ recipe["like"]|default("0") }}</h6>
                <a href="./viewRecipes?_id={{ recipe['_id'] }}" class="btn btn-info btn-block">See recipe</a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

  </main>

  {% endblock %}
</body>

</html>