<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>I am starving!</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="jumbotronStyling">I am starving!</h1>

          </div>
        </div>
        <form action="/search" method="GET" class="main">
          <div class="col-lg-12 mx-auto form-group has-search">
            <span class="searchBarStyling"></span>
            <label for="recipeSearch" class="control-label"></label>
            <input type="text" id="recipeSearch" name="recipeSearch" class="form-control"
              placeholder="Ingredient, dish, keyword..." />
          </div>
          <div><button type="submit" class="btn btn-dark">Search</button></div>
        </form>

      </div>
      </div>


    </section>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-8">
            <div class="form-group form-group-required mx-auto">
              <label for="dietTypeSelector" class="control-label">Diet type</label>
              <select id="dietTypeSelector" name="dietTypeSelector" class="form-control" required>
                <option>Choose...</option>
                <option>Dairy-free</option>
                <option>Egg-free</option>
                <option>Gluten-free</option>
                <option>Healthy</option>
                <option>Heart-healthy</option>
                <option>Low-calorie</option>
                <option>Low-fat</option>
                <option>Low-salt</option>
                <option>Nut-free</option>
                <option>Vegan</option>
                <option>Vegetarian</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          {% for recipe in pageRecipes %}
          <div class="col-sm-6 col-lg-4">
            <div class="card card-styling">
              <div class="card-body">
                <img class="recipeImageStyling" src="{{url_for('file', filename=recipe['recipeImage'])}}">
                <h5 class="card-title text-truncate">{{ recipe["recipeTitle"] }}</h5>
                <h6 class="text-muted">Serves: {{ recipe["recipeServes"] }}</h6>
                <h6 class="text-muted">Recipe likes: {{ recipe["like"]|default("0") }}</h6>
                <a href="./viewRecipes?_id={{ recipe['_id'] }}" class="btn btn-info btn-block">See recipe</a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

  </main>

  {% endblock %}
</body>

</html>