<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>I am starving!</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <main>
    <div class="container">
      <form action="/search" method="GET">
        <div class="row">
          <div class="col-lg-9 searchBarStyling form-group has-search">
            <label for="recipeSearch" class="control-label"></label>
            <input type="text" id="recipeSearch" name="recipeSearch" class="form-control"
              placeholder="Ingredient, dish, keyword..." />
          </div>
          <div class="col-lg-4"><button type="submit" class="btn btn-info searchButtonStyling">Search</button></div>
        </div>
      </form>

      <form id="sortDropdown" method="GET">
        <input type="hidden" name="recipeSearch" value="{{request.values.get('recipeSearch')}}"> 
      <div class="row">
      <div class="form-group col-lg-3 offset-lg-9">
          <label for="recipeSorting" class="control-label formHeadings">Sort by</label>
          <select onchange="document.getElementById('sortDropdown').submit();" id="recipeSorting" name="sort_on" class="form-control">
              <option value="recipeTitle" {% if request.values.get('sort_on') == 'recipeTitle' %} selected {% endif %}>Title</option>
              <option value="like" {% if request.values.get('sort_on') == 'like' %} selected {% endif %}>Likes</option>
          </select>
      </div>
      </div>
      </form>

      <div class="row">
        <div class="col-lg-12 recipeNumberStyling">
          Number of recipes found: {{ searchResults.count() }}
        </div>
        
        {% for recipe in searchResults %}

        <div class="col-sm-6 col-lg-4">
          <div class="card cardStyling">
            <div class="card-body">
              <img class="recipeImageStyling" src="{{url_for('file', filename=recipe['recipeImage'])}}"
                alt="{{recipe['recipeTitle']}}">
              <h5 class="card-title text-truncate">{{ recipe["recipeTitle"] }}</h5>
              <h6 class="text-muted">Serves: {{ recipe["recipeServes"] }}</h6>
              <h6 class="text-muted">Recipe likes: {{ recipe["like"]|default("0") }}</h6>
              <a href="./viewRecipes?_id={{ recipe['_id'] }}" class="btn btn-info btn-block">See recipe</a>
            </div>
          </div>
        </div>
        {%endfor%}

        {% if searchResults.count() == 0 %}
        <div class="col-md-12">
          <h4 class="noResultsStyling">No recipes found. Please try another search.</h4>
        </div>
        {%endif%}
      </div>
    </div>

  </main>
  {% endblock %}
</body>

</html>