<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I am starving!</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <main>
        <div class="container">
            {% for item in recipe %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="recipeTitle">{{ item["recipeTitle"] }}</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-8"><img
                                src="{{url_for('file', filename=item['recipeImage'])}}"
                                class="rounded recipeImageStyling" alt="{{item['recipeTitle']}}"></div>

                        <div class="col-lg-5 col-md-4 col-12">
                            <h4 class="recipeSubtitles">Recipe information</h4>
                            <ul class="recipeFacts">
                                <li>Prep time: {{ item["prepTime"] }}</li>
                                <li>Cook time: {{ item["cookTime"] }}</li>
                                <li>Difficulty: {{ item["recipeDifficulty"] }}</li>
                                <li>Serves: {{ item["recipeServes"] }}</li>
                            </ul>
                            <h4 class="recipeSubtitles">Recipe stats</h4>
                            <p class="recipeFacts">
                                Recipe likes: {{ item["like"]|default("0") }}
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <h4 class="recipeSubtitles">Diet Type</h4>
                            <ul class="recipeFacts">
                                {%for dietTypeOption in item["dietType"]%}
                                <li>{{ dietTypeOption }}</li>
                                {%endfor%}
                            </ul>
                            <h4 class="recipeSubtitles">Cuisine</h4>
                            <p class="recipeFacts">
                                {{ item["cuisineType"] }}
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <h4 class="recipeSubtitles">Ingredients</h4>
                    {{ item["recipeIngredients"]|safe }}
                </div>
                <div class="col-xs-12 col-lg-6">
                    <h4 class="recipeSubtitles">Method</h4>
                    {{ item["recipeMethod"]|safe }}

                </div>

                <div class="col-lg-12">
                    <h4 class="recipeSubtitles">Notes</h4>
                    <p class="recipeFacts">{{ item["recipeNotes"]|safe }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="recipeSubtitles">Actions</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <form action="/like" method="POST">
                        <button class="btn btn-primary buttonStyling" type="submit"><i
                                class="fas fa-smile iconStyling"></i>Like recipe</button>
                        <input type="text" name="_id" value="{{ item['_id'] }}" hidden>
                    </form>
                </div>

                <div class="col-lg-2">
                    <a class="btn btn-warning buttonStyling" href="./edit?_id={{ item['_id'] }}"><i
                            class="fas fa-edit iconStyling"></i>Edit
                        recipe</a>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-danger buttonStyling"
                        onclick="return confirm('Are you sure you want to delete this recipe?');"
                        href="./remove?_id={{ item['_id'] }}"><i
                                class="fas fa-trash iconStyling"></i>Delete
                            recipe</a>
                </div>

            </div>
        </div>

        {%endfor%}

    </main>

    {% endblock %}
</body>

</html>